*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store

/Manifest.toml
/dev/
/docs/build/
/docs/site/

/src/so/*/*.so
/src/so/*/*.mod

/src/so/iri2016/*.asc
/src/so/iri2016/*.dat
/src/so/iri2016/*.for

/src/so/iri2016/00_ccir-ursi.tar
/src/so/iri2016/00_iri.tar


/src/bin/RNXCMP/*/docs


