*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/Manifest.toml
/dev/
/docs/build/
/docs/site/

/src/bin/code/*.so
/src/bin/code/*.mod
/src/bin/*.so
/src/bin/*.dat
!/src/bin/code/*.dat

/src/bin/*.bin
!/src/bin/code/*.bin
